<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Голосования</title>
</head>
<body>
        <h2>Активные голосования</h2>
            <ul>
                {% for polls in list_polls %}
                    {% if polls.active == 1 %}
                        <li>
                            <a href="{{ polls.get_absolute_url }}">
                                {{ polls.name }}
                            </a><br>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        <h2>Завершённые голосования</h2>
            <ul>
                {% for polls in list_polls %}
                    {% if polls.active == 0 %}
                        <li>
                            <a href="{{ polls.get_absolute_result_url }}">
                                {{ polls.name }}
                            </a><br>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
</body>
</html>

