<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2>{{ detail_polls.name }}</h2>
    <br>
        {% for person in detail_polls.persons_set.all %}
            <img src="{{ person.img.url }}" width="100" height="110">
            <p>Имя: {{ person.name }}</p>
            <p>Отчество: {{ person.middle_name }}</p>
            <p>Фамилия: {{ person.surname }}</p>
            <p>Возраст: {{ person.age }}</p>
            <p>Краткая биография: {{ person.bio }}</p>
            <br>
        {% endfor %}


</body>
</html>